.container {
    position: relative;
    width: 27%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
}

#image1 {
    user-select: none;
    clip-path: inset(0 50% 0 0);
    z-index: 1;
}

#image2 {
    user-select: none;
    clip-path: inset(0 0 0 50%);
    z-index: 2;
}

#slider {
    opacity: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    background-color: #0f1f2c;
    cursor: ew-resize;
    z-index: 3;
    /* Ensure the slider is above the images */
}